<footer class="footer">
  <div class="footer__wrapper">
    <hr>
    <div class="footer__flex">
      <div class="footer__logo">
        <a target="_blank" href="https://mobilenativefoundation.org"><img class="footer__logo__img" src="{{ g.static('/source/images/mnf.svg').url.path }}" alt="Mobile Native Foundation logo"></a>
      </div>
      <span class="footer__copyright">Copyright © Mobile Native Foundation</span>
      <nav>
        <ul>
          <li><a target="_blank" href="https://lfprojects.org/policies/terms-of-use">Terms</a></li>
          <li><a target="_blank" href="https://lfprojects.org/policies/privacy-policy">Privacy Policy</a></li>
          <li><a target="_blank" href="https://lfprojects.org/cookie-policy">Cookies</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
