/**
 *
 * FILE: main.scss
 *
 * DATE: 2014
 * VERSION 1.0
 *
 */

//*-------------------------------------*
//  $TYPE
//*-------------------------------------*

  @import "variables";
  @import "vendor";

//*-------------------------------------*
//  $TYPE
//*-------------------------------------*

  @import "type/fonts";
  @import "type/icons";
  @import "type/type";

//*-------------------------------------*
//  $OBJECTS
//*-------------------------------------*

//*-------------------------------------*
//  $PARTIALS
//*-------------------------------------*

//*-------------------------------------*
//  $HELPERS
//*-------------------------------------*
