/**
 *
 * FILE: main.scss
 *
 * DATE: 2014
 * VERSION 1.0
 *
 */

@import "compass";
@import "susy";

//*-------------------------------------*
//  $TYPE
//*-------------------------------------*

  @import "variables";
  @import "vendor";

//*-------------------------------------*
//  $TYPE
//*-------------------------------------*

  @import "type/fonts";
  @import "type/icons";
  @import "type/type";

//*-------------------------------------*
//  $OBJECTS
//*-------------------------------------*

  @import "objects/*";

//*-------------------------------------*
//  $LAYOUTS
//*-------------------------------------*

  @import "layouts/*";

//*-------------------------------------*
//  $PARTIALS
//*-------------------------------------*

  @import "partials/*";

//*-------------------------------------*
//  $HELPERS
//*-------------------------------------*
//

html,body{
  height:100%;
}
