blockquote {
  color: #828282;
border-left: 4px solid #e8e8e8;
padding-left: 15px;
font-size: 18px;
letter-spacing: -1px;
font-style: italic;
  p{
    font-style: normal;
    color: #828282;
    font-size: 18px;
    letter-spacing: -1px;
  }

}


