blockquote {
  color: #828282;
border-left: 4px solid #e8e8e8;
padding-left: 15px;
font-size: 18px;
letter-spacing: -1px;
font-style: italic;
  p{
    font-style: normal;
    color: #828282;
    font-size: 18px;
    letter-spacing: -1px;
  }

}

.qoute-block {
  position:relative;

  h2 {
    font-weight: 400;
    font-size: 32px;
    color:#535353;
    line-height: 48px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.marks {
  position:absolute;
  font-size: 120px;
  color:#D0CFCF;
  left: -58px;
  top: 21px;
  line-height: 0;
}

