.brands {
  @include container;
}
.brand-third {
  margin-bottom: 8px;

  &:nth-of-type( 3n+3 ) {
    margin-bottom: 0;
  }

  @include mq($from:macro-medium) {
    @include span(4 of 12);

    img {
      display:table;
      margin-bottom: $flexdd-base-spacing-unit;
      margin-left: auto;
    }

    &:nth-of-type( 3n+2 ) {
      text-align: center;
      img {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-of-type( 3n+3 ) {
      margin-right: 0;
      text-align: right;
      img {
        margin-right: auto;
      }
    }
  }

  @include mq($to:macro-medium) {
    @include span(12 of 12);

    img {
      display:table;
      margin-bottom: $flexdd-base-spacing-unit;
      margin-left: auto;
      margin-right: auto;
    }

    text-align: center;

    &:nth-of-type( 2n+2 ) {
      margin-right: 0;
    }

    &:last-child {
      @include span(12 of 12);
    }

  }
}

.brand-fourth {
  margin-bottom: $flexdd-double-spacing-unit;
  margin-top: $flexdd-double-spacing-unit * 1.5;

  img {
    height: 33px;
  }

  &:nth-of-type( 4n+4 ) {
    margin-bottom: 0;
  }

  @include mq($from:macro-medium) {
    @include span(3 of 12);

    img {
      display:table;
      margin-bottom: $flexdd-base-spacing-unit;
            margin-left: auto;
      margin-right: auto;
    }


    &:nth-of-type( 4n+4 ) {
      margin-right: 0;

    }
  }

  @include mq($to:macro-medium) {
    margin-top: 0;
    @include span(12 of 12);

    img {
      display:table;
      margin-bottom: $flexdd-base-spacing-unit;
      margin-left: auto;
      margin-right: auto;
    }

    text-align: center;

    &:nth-of-type( 2n+2 ) {
      margin-right: 0;
    }
  }

}


.iftt{
  height: 78px;
}

.panic {
  width: 157px;
    @include mq($from:macro-medium) {
    position: relative;
    top: -26px;
  }
}

.tapbots {
  width:59px;
  @include mq($from:macro-medium) {
    position:relative;
    right:86px;
  }

}

.productHunt {
  width: 75px;
  @include mq($from:macro-medium) {
    position: relative;
    right: 59px;
  }
}


.fast-lane-logo {
  margin-left: auto;
  margin-right: auto;
  width:330px;

   @include mq($from:macro-small) {
      width:auto;
      height: 150px;  
   }
}