.faq{
  list-style: decimal; padding: 0 0 0 20px;
  padding-bottom: 38px;
}


code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
  padding-left: 3px;
  padding-right: 3px;
}

.faq li{
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  padding-bottom: 8px;
  padding-top: 20px;
}

.faq li .response {
  display: block;
  max-height: 0;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease-in-out;
}

.faq li .title{
  font-weight: 600;
  display: inline-block;
  font-size: 20px;
}


.faq p {
  font-size: 16px;
  margin-bottom: 18px;
}

.faq ul li {
  border-bottom: none;
  padding-top: 6px;

}

.faq li label{
  cursor: pointer;
  display: inline-block;
}

.faq li input[type=checkbox]{
    padding-top: 10px;
      padding-top: 20px;
  display: none
}



.faq li input[type=checkbox]:after{
  background: white;
  display: none;
}

.faq li input[type=checkbox]:checked + .response{
  padding-top: 10px;
  max-height: 500px;
  padding-left: 20px;
}

.post-content h3 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 15px;

}

.post-content p {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

.post-content ul {
  margin-left: 30px;
  margin-bottom: 15px;
   li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-weight: 300;
    line-height: 1.5em;
   }
}

.post-content a {
  color: #2980B9;

}

