.tool {
  margin-bottom: $flexdd-double-spacing-unit;

  &:nth-of-type( 3n+3 ) {
    margin-bottom: 0;
  }




  @include mq($to:macro-medium) {
    text-align: center;
    img {
      height: 75px;
      display:table;
      margin-bottom: $flexdd-base-spacing-unit;
      margin-left: auto;
      margin-right: auto;
    }



    &:nth-of-type( 3n+3 ) {
      margin-bottom: $flexdd-base-spacing-unit;
    }
  }

  @include mq($from:macro-medium) {

    &:first-child{
      @include span(4 of 12 first);
    }


    @include span(4 of 12);

    &:last-child{
      @include span(4 of 12 last);
    }



    img {
      display:table;
      margin-bottom: $flexdd-base-spacing-unit;
      height:75px;
    }

  }
}

.tool-center {
  @include mq($from:macro-medium) {
    @include span(isolate 10 of 12 at 2 last);
  }
  border-bottom: 1px solid rgba(151,151,151,0.3);
}

.tool-break {
  @include mq($from:macro-medium) {
    &:last-child{
      @include span(4 of 12);
    }
    @include span(4 of 12);
  }
}

.tools {
  @include container;
}


.tool-feature {
  padding-top: 68px;
  padding-bottom: 68px;
  @include container;
}

.tool-feature__icon {
    img {
    height:75px;
    @include mq($to:macro-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include mq($from:macro-medium) {
  @include span(5 of 12 first);
  }
}

.tool-feature__text {

  p{
    font-size: 18px;
  }

  @include mq($to:macro-medium) {
    line-height: 18px;
      h2,p{
    text-align: center;
    }
    h2 {
      padding-top: 24px;
    }
  }

  @include mq($from:macro-medium) {
    @include span(7 of 12 last);
  }
}

.fastlane-feature {
  @include mq($from:macro-medium) {
    height: 93px !important;
    margin-top: -5px;
  }
}


