.video-modal
  margin: auto
  position: relative
  width: 100%
  cursor: pointer
  +breakpoint($bp-medium)
    width: 340px
  &:before
    background: url(/assets/images/fastlane-play.png)
    background-size: 72px 72px
    content: ''
    transform: translateX(-50%) translateY(-50%)
    left: 50%
    top: 50%
    position: absolute
    height: 72px
    width: 72px

  img
    max-width: 100%

  &,
  &__media
    box-sizing: border-box

  &__media
    background: #000
    position: fixed
    display: none
    height: 200px
    left: 0
    opacity: 0
    top: 0
    will-change: width, height, opacity
    width: 340px
    z-index: 10
    &.open
      border-color: blue

  &__backdrop
    background: rgba(0, 0, 0, 0.5)
    bottom: 0
    display: none
    left: 0
    opacity: 0
    position: fixed
    right: 0
    top: 0
    z-index: 9

  &__close
    text-align: right
    padding: 10px
    span
      cursor: pointer

body.mobile
  .video-modal
    display: none

  .video-modal__close
    display: none

  .video-modal__media
    display: block
    margin: 20px auto
    position: static
    opacity: 1
    max-width: 100%

body:not(.mobile)
  #yt-player
    opacity: 0
