/**
 * Type File
 *
 * Used to setup the type configuration
 * Custom type styles and sizes belong in here.
 */

/**
 *
 * Open sans 300,400,600,700
 */

html {
  font-family: 'Open Sans';
  font-weight: 400;
}

.herotitle {
  font-size: 66px;
  font-weight: 300;
  text-align: center;
}