<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="/assets/KrauseFx.jpg" width="200" />
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>
            {% include github_icon.html %}
          </li>

          <li>
            {% include twitter_icon.html %}
          </li>
          <li>
            <a href="http://krausefx.com" target="_blank">krausefx.com</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
