<footer class="footer">
  <div class="footer__wrapper">
    <hr>
    <div class="footer__flex">
      <div class="footer__logo">
        <a target="_blank" href="https://developers.google.com/"><img class="footer__logo__img" src="{{ g.static('/source/images/google-developers-lockup-color.svg').url.path }}" alt="Google Developers logo"></a>
      </div>
      <span class="footer__copyright">© 2017 Google, Inc. All Rights Reserved</span>
      <nav>
        <ul>
          <li><a target="_blank" href="https://www.google.com/policies/terms/">Terms</a></li>
          <li><a target="_blank" href="https://www.google.com/policies/privacy/">Privacy Policy</a></li>
          <li><a target="_blank" href="https://www.google.com/policies/technologies/cookies/">Cookies</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
