.content__half {
  @include mq($from:macro-small) {
    &:first-child {
      @include span(5 of 10 first);
    }
    &:last-child {
      @include span(5 of 10 last);

    }
  }

}

.content--padded-double {
    padding-top: 24px;
    padding-bottom: 24px;

  @include mq($from:macro-small) {
    padding-top: 78px;
    padding-bottom: 78px;
  }
}

.content {
  ul {
    li {
        display:block;
        @include adjust-font-size-to(20px);
        font-weight: 400;
        line-height: 37px;
    }
  }
}