.content__half {
  @include mq($from:macro-small) {
    &:first-child {
      @include span(5 of 10 first);
    }
    &:last-child {
      @include span(5 of 10 last);

    }
  }

}

.content--padded-double {
    padding-top: 24px;
    padding-bottom: 24px;

  @include mq($from:macro-small) {
    padding-top: 78px;
    padding-bottom: 78px;
  }
}

.content--padded-double-top {
    padding-top: 24px;

  @include mq($from:macro-small) {
    padding-top: 78px;
  }
}

.content--padded-top {
    padding-top: 38px;

    &:nth-of-type(2n+2) {
      padding-top: 6px;
    }

  @include mq($from:macro-small) {
    padding-top: 38px;

    &:nth-of-type(2n+2) {
      padding-top: 38px;
    }
  }
}

.content {
  ul {
    li {
        display:block;
        @include adjust-font-size-to(18px);
        font-weight: 400;
        line-height: 30px;
    }
    margin-bottom: 24px;
  }
}

.content--fastlane-features {
  padding-top: 24px;
  @include mq($from:macro-small) {
    padding-top: 0px;
    @include span(4 of 5 first);
  }
}

.features-padding {
  padding-bottom: 38px;
}

.content--fastlane-features-padding {
  @include mq($from:macro-small) {
    padding-top: 190px;
  }
}

.content--no-bottom-padding {
  padding-bottom:0;
}
@include mq($to:macro-medium) {

  td {
    display:block;
  }

}
