.poweredby {
  font-size: 14px;
}

form {

}

input {
  width: 50%;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 3px;
border: none;
padding: 12px;
border: 1px solid rgba(0,0,0,0.15);
margin-bottom: 18px;
cursor: text;

}

input[type="submit"] {
  background-color: #29C590;
  width: 30%;
  border: 2px solid rgba(0, 0, 0, 0.05);
  color: white;
  font-weight: 600;
  margin-bottom: 4px;
  cursor: pointer;
}