.site-header{
    width:100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid rgba($grey,0.2);
    background-color: rgba(white,0.9);


}

.navigation {
  @include span(isolate 10 at 2 of 12);
}

.logo-desktop {
  display:none;
  @include mq($from:macro-small) {
    display:block;
  }

  @include span(6 of 12 first);
}

.logo-mobile {
  @include span(4 of 12 first);

  @include mq($from:macro-small) {
    display:none;
  }


}

.nav-links {
  @include span(8 of 12 last);
  text-align: right;

    @include mq($from:macro-small) {
    @include span(6 of 12 last);
  }

    li {
      display: inline-block;
      a{
        @include adjust-font-size-to(15px);
        @include mq($from:macro-small) {
          @include adjust-font-size-to(18px);
        }

        color:$grey;
        line-height: 50px;
        padding: 14px;
        &:last-child{
          padding-right: 0px;
        }

      }
    }

}

.one {
  background: red;
  @include span(1 of 12);
  &:first-child {
    @include span(1 of 12 first);
  }

  &:last-child {
    @include span(1 of 12 last);
  }
}
.con {
  @include container;
}
