.layout--hero {
  height:60%;
  background-image:url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
}



.layout__content--hero {
  height:100%;
  display:table;
  @include span(12 of 12);
}

.hero__content {
  display: table-cell;
  vertical-align: middle;
}

.hero__title {
  @include adjust-font-size-to(28px);
  margin-bottom: 8px;

  @include mq($from:macro-small) {
    margin-bottom: 18px;
    @include adjust-font-size-to(66px);
  }

  line-height: 1em;
  font-weight: 500;
  text-align: center;
  color: white;
}

.hero__subtitle {
  @include adjust-font-size-to(18px);
  @include mq($from:macro-small) {
    @include adjust-font-size-to(32px);
  }

  line-height: 1em;
  font-weight: 300;
  text-align: center;
  color: white;
}

.title--companies {
  font-size: 28px !important;
  margin-bottom: 18px !important;
}
