---
$path: /{root}/
$title@: App automation done right

hero:
  headline@: App automation done right
  summary@: >
    The easiest way to build and release mobile apps.<br class="hide-lt-s">
    <i>fastlane</i> handles tedious tasks so you don’t have to.
  counter:
    headline@: Developer hours saved

features:
  headline@: Automate your development and release process
  summary@: >
    <i>fastlane</i> is an open source platform aimed at simplifying Android and iOS deployment.<br class="hide-lt-m">
    <i>fastlane</i> lets you automate every aspect of your development and release workflow.
  cards:
    - class: screenshots
      headline@: Automate<br>screenshots
      summary@: Automatically generate localized screenshots for the app store
      cta:
        title@: Learn more
        href: ~
    - class: beta
      headline@: Beta<br>deployment
      summary@: Easily distribute beta builds to testers
      cta:
        title@: Learn more
        href: ~
    - class: appstore
      headline@: App Store<br>deployment
      summary@: Publish a new release to the app store in seconds
      cta:
        title@: Learn more
        href: ~
    - class: codesigning
      headline@: Code<br>signing
      summary@: Reliably and consistently code sign your app–no more headaches
      cta:
        title@: Learn more
        href: ~

feature_modules:
  - class: screenshots
    headline@: Capture screenshots automatically
    body@: |
      ##### Generate localized app store screenshots in minutes.

      - Automatically capture localized screenshots for each language and device
      your app supports
      - Configure it once, and store the configuration so anyone on the team
      generate screenshots
      - Work on something else – fastlane takes screenshots without interrupting
      your other tasks
    cta@: >
      Capture screenshots on<br class="hide-gt-s">
      <a href="https://docs.fastlane.tools/getting-started/ios/screenshots/">
      iOS</a> and
      <a href="https://docs.fastlane.tools/getting-started/android/screenshots/">
      Android</a>
    illo:
      image: !g.static /source/images/screenshots-illo.svg
      alt@: Screenshots illustration
      width: 634
      height: 587
  - class: beta
    headline@: Distribute beta builds
    body@: |
      ##### Easily publish new beta builds to testers so you can get valuable
      feedback, fast.

      - Automate the most time-consuming beta distribution steps including
      incrementing the build version, code signing, building and uploading
      the app, and setting a changelog
      - Support for over 15 beta testing services including TestFlight,
      Crashlytics Beta, Play, and Hockey
      - Freely switch between beta services without needing to reconfigure
      fastlane
    cta@: >
      Capture screenshots on<br class="hide-gt-s">
      <a href="https://docs.fastlane.tools/getting-started/ios/beta-deployment/">
      iOS</a> and
      <a href="https://docs.fastlane.tools/getting-started/android/beta-deployment/">
      Android</a>
    illo:
      image: !g.static /source/images/beta-illo.svg
      alt@: Beta illustration
      width: 641
      height: 549
  - class: appstore
    headline@: Publish your app with the push of a button
    body@: |
      ##### Automate the entire app store deployment process.

      - Create a repeatable custom workflow to build, upload and distribute
      new releases to the app store
      - Upload and manage all of your app’s metadata including screenshots
      - Automatically submit new versions of your app for review
    cta@: >
      Capture screenshots on<br class="hide-gt-s">
      <a href="https://docs.fastlane.tools/getting-started/ios/appstore-deployment/">
      iOS</a> and
      <a href="https://docs.fastlane.tools/getting-started/android/release-deployment/">
      Android</a>
    illo:
      image: !g.static /source/images/appstore-illo.svg
      alt@: Appstore illustration
      width: 627
      height: 487
  - class: codesigning
    headline@: Automatic code signing
    body@: |
      ##### Avoid the frustration of managing code signing identities.

      - Store your code signing identities and profiles in your own private,
      encrypted git repository to securely sync them across machines
      - Once set up, every developer on your team can reproduce signed builds
      on any computer
    cta@: >
      <a class="button button--codesigning" href="https://docs.fastlane.tools/codesigning/getting-started/">
      Simplify signing</a>
    illo:
      image: !g.static /source/images/codesigning-illo.svg
      alt@: Codesigning illustration
      width: 684
      height: 449

integration:
  headline@: Continuous integration support
  summary: >
    <i>fastlane</i> integrates effortlessly into existing CI services with
    support for:
  integrations:
    - image: !g.static /source/images/bitrise-logo.png
      alt@: Bitrise logo
      width: 145
      height: 34
    - image: !g.static /source/images/travis-logo.png
      alt@: Travis CI logo
      width: 112
      height: 35
    - image: !g.static /source/images/jenkins-logo.png
      alt@: Jenkins logo
      width: 136
      height: 44
    - image: !g.static /source/images/circleci-logo.png
      alt@: Circle CI logo
      width: 53
      height: 43
  headline_2@: Extend fastlane
  summary_2@: >
    Customize your deployment workflows using the hundreds of community built
    <i>fastlane</i> <a href="https://docs.fastlane.tools/actions/">actions</a>
    and <a href="https://docs.fastlane.tools/plugins/available-plugins/">plugins
    </a>.

tweet_carousel:
  quotation_mark:
    src: !g.static /source/images/quotation-mark.svg
    alt@: Quote
  twitter_logo:
    src: !g.static /source/images/twitter-logo.svg
    alt@: Twitter logo
  tweets:
    - quote@: >
        1 - Was skeptical that a few words could generate certificates, provisioning files, etc. But @KrauseFx's @FastlaneTools have blown me away...
      author@: ruddfawcett
      time_and_location@: "11:36AM - 2 Sep 2015 from Manhattan, NY"
    - quote@: >
        2 - Was skeptical that a few words could generate certificates, provisioning files, etc. But @KrauseFx's @FastlaneTools have blown me away...
      author@: ruddfawcett
      time_and_location@: "11:36AM - 2 Sep 2015 from Manhattan, NY"
    - quote@: >
        3 - Was skeptical that a few words could generate certificates, provisioning files, etc. But @KrauseFx's @FastlaneTools have blown me away...
      author@: ruddfawcett
      time_and_location@: "11:36AM - 2 Sep 2015 from Manhattan, NY"
    - quote@: >
        4 - Was skeptical that a few words could generate certificates, provisioning files, etc. But @KrauseFx's @FastlaneTools have blown me away...
      author@: ruddfawcett
      time_and_location@: "11:36AM - 2 Sep 2015 from Manhattan, NY"
    - quote@: >
        5 - Was skeptical that a few words could generate certificates, provisioning files, etc. But @KrauseFx's @FastlaneTools have blown me away...
      author@: ruddfawcett
      time_and_location@: "11:36AM - 2 Sep 2015 from Manhattan, NY"

work:
  headline@: How fastlane works
  summary@: >
    Check out the <a href="#">getting started</a> docs on how to dive
    into fastlane
  video_headline@: See it in action - getting started with fastlane
  code:
  - title@: Increment build number
    text@: lorem ipsum
  - title@: Activate gym
    text@: lorem ipsum
  - title@: Testflight
    text@: lorem ipsum

  appstore_steps:
  - text@: Increment build number
    icon:
      content: 'S'
      color: '#3F40F8'
  - text@: Build your app
    icon:
      content: 'g'
      color: '#BD69F6'
  - text@: Upload to store
    icon:
      content: '#'
      color: '#D8D8D8'
  - text@: Notify slack
    icon:
      url: /assets/images/slack.png

  beta_steps:
  - text@: Increment build number
    icon:
      content: 'S'
      color: '#3F40F8'
  - text@: Build your app
    icon:
      content: '#'
      color: '#D8D8D8'
  - text@: Distribute to TestFlight
    icon:
      url: /assets/images/fastlane.png

contribute:
  headline@: Become a fastlane contributor
  summary@: |
    The strong open source community that contributes to fastlane is part of
    what makes it great. Together, we're building the most powerful set of
    tools for deploying mobile apps. Check out our GitHub repository for
    information on how to
    <a href="https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md">
    contribute</a> and to become a
    <a href="https://github.com/fastlane/fastlane/blob/master/CORE_CONTRIBUTOR.md">
    core contributor</a>.

---

<section class="section hero">
  <div class="hero__wrapper">
    <h1 class="section__headline">{{ doc.hero.headline }}</h1>
    <div class="hero__summary">
      {{ doc.hero.summary | safe }}
    </div>
    <div class="hero__hours-counter">
      <h4 class="hero__hours-counter__headline">{{ doc.hero.counter.headline }}</h4>
      <div class="hero__hours-counter__counter">
        7,153,219
      </div>
    </div>
  </div>
</section>

<section class="section features">
  <div class="section__wrapper">
    <hr class="features__divider">
    <h2 class="section__headline">{{ doc.features.headline }}</h2>
    <div class="section__summary">
      {{ doc.features.summary | safe }}
    </div>
    <div class="hide-lt-s features__cards">
      {% for card in doc.features.cards %}
        <div class="features__cards__card features__cards__card--{{ card.class }} card">
          <div class="feature-icon feature-icon--{{ card.class }}">
            <img src="" alt="">
          </div>
          <h4 class="features__cards__card__headline">{{ card.headline | safe }}</h4>
          <div class="features__cards__card__summary">
            {{ card.summary | safe }}
          </div>
          <a class="button button--{{ card.class }} features__cards__card__cta" href="{{ card.cta.href }}">{{ card.cta.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% for feature in doc.feature_modules %}
  <section class="section feature feature--{{ feature.class }}">
    <div class="section__wrapper">
      <div class="feature__header">
        <div class="feature-icon feature-icon--{{ feature.class }}">
          <img src="" alt="">
        </div>
        <h2 class="section__headline">{{ feature.headline | safe }}</h2>
      </div>
      <div class="feature__flex">
        <div class="feature__content-wrapper">
          {{ feature.body | markdown | safe }}
          <span class="feature__cta">
            {{ feature.cta | safe }}
          </span>
        </div>
        <div class="feature__image-wrapper">
          <img
            class="feature__image-wrapper__image"
            src="{{ feature.illo.image.url.path }}"
            alt="{{ feature.illo.alt }}"
            width="{{ feature.illo.width }}"
            height="{{ feature.illo.height }}">
        </div>
      </div>
    </div>
  </section>
{% endfor %}

<section class="section integration">
  <div class="section__wrapper">
    <h2 class="section__headline">{{ doc.integration.headline }}</h2>
    <div class="section__summary">
      {{ doc.integration.summary | safe }}
    </div>
    <div class="integration__flex">
      {% for integration in doc.integration.integrations %}
        <img class="integration__flex__item" src="{{ integration.image.url.path }}" alt="{{ integration.alt }}" width="{{ integration.width }}" height="{{ integration.height }}">
      {% endfor %}
    </div>
    <hr>
    <h2 class="section__headline">{{ doc.integration.headline_2 }}</h2>
    <div class="section__summary">
      {{ doc.integration.summary_2 | safe }}
    </div>
  </div>
</section>

<section class="section tweets">
  <div class="section__wrapper">
    <span class="tweets__begin-quote-mobile">
      <img src="{{ doc.tweet_carousel.quotation_mark.src.url.path }}" alt="{{  doc.tweet_carousel.quotation_mark.alt }}">
    </span>
    <div class="tweets__carousel slick" data-arrows="true" data-dots="true" data-autoplay="true" data-carousel-name="intro">
      {% for tweet in doc.tweet_carousel.tweets %}
        <div class="tweets__item">
          <span class="tweets__begin-quote-laptop">
            <img src="{{ doc.tweet_carousel.quotation_mark.src.url.path }}" alt="{{  doc.tweet_carousel.quotation_mark.alt }}">
          </span>
          <div class="tweets__quote">
            {{ tweet.quote }}
          </div>
          <span class="tweets__end-quote-laptop">
            <img src="{{  doc.tweet_carousel.quotation_mark.src.url.path }}" alt="{{  doc.tweet_carousel.quotation_mark.alt }}">
          </span>
          <div class="tweets__signature">
            <span class="tweets__logo"><img src="{{  doc.tweet_carousel.twitter_logo.src.url.path }}" alt="{{  doc.tweet_carousel.twitter_logo.alt }}"></span>
            <b>@{{ tweet.author }}.</b> <span class="tweets__time-and-location">{{ tweet.time_and_location }}</span></div>
        </div>
      {% endfor %}
    </div>
    <span class="tweets__end-quote-mobile">
      <img src="{{  doc.tweet_carousel.quotation_mark.src.url.path }}" alt="{{  doc.tweet_carousel.quotation_mark.alt }}">
    </span>
  </div>
</section>

<section class="section works">
  <div class="section__wrapper">
    <h2 class="section__headline">{{ doc.work.headline }}</h2>
    <div class="section__summary">
      {{ doc.work.summary | safe }}
    </div>
    <hr />
    <header class="typeahead">
      <h2>fastlane <span class="typeahead__target">beta</span></h2>
    </header>
    <div class="animation">
      <div class="animation__window">
        <header>&bull;&bull;&bull;</header>
        <code class="code">

          {# BETA code block #}
          <article class="code__block active" id="beta">
            <div class="line">
              <span class="code__def">lane</span> <span class="code__sym">:beta</span> <span class="code__op">do</span>
            </div>
            <div class="code__indent">
              <div class="line"><span class="code__fn">increment_build_number</span></div>
              <div class="line"><span class="code__fn">gym</span></div>
              <div class="line"><span class="code__fn">testflight</span></div>
            </div>
            <div class="line">
              <span class="code__def--end" id="emoji">end <img src="/assets/images/rocket.png" width="14"></span>
            </div>
          </article>

          {# APPSTORE code block #}
          <article class="code__block" id="appstore">
              <div class="line">
                <span class="code__def">lane</span> <span class="code__sym">:appstore</span> <span class="code__op">do</span>
              </div>
              <div class="code__indent">
                <div class="line"><span class="code__fn">snapshot</span></div>
                <div class="line"><span class="code__fn">gym</span></div>
                <div class="line"><span class="code__fn">deliver</span></div>
                <div class="line"><span class="code__fn">slack</span></div>
              </div>
              <div class="line">
                <span class="code__def--end">end</span>
              </div>
            </article>
        </code>
      </div>
      <aside class="animation__steps">
        <ol class="steps" id="steps-beta">
          {% for step in doc.work.beta_steps %}
          <li>
            <div class="steps__ctn">
              {% if step.icon.url %}
              <div class="steps__icon">
                <img src="{{ step.icon.url }}" width="67" height="67">
              </div>
              {% else %}
              <div class="steps__icon" style="background: {{ step.icon.color }}">{{ step.icon.content }}</div>
              {% endif %}
              <p>{{ step.text }}</p>
            </div>
          </li>
          {% endfor %}
        </ol>
        <ol class="steps" id="steps-appstore">
          {% for step in doc.work.appstore_steps %}
          <li>
            <div class="steps__ctn">
              {% if step.icon.url %}
              <div class="steps__icon">
                <img src="{{ step.icon.url }}" width="67" height="67">
              </div>
              {% else %}
              <div class="steps__icon" style="background: {{ step.icon.color }}">{{ step.icon.content }}</div>
              {% endif %}
              <p>{{ step.text }}</p>
            </div>
          </li>
          {% endfor %}
        </ol>
      </aside>
    </div>
    <h2>{{ doc.work.video_headline }}</h2>
    <div class="video-modal">
      <img src="http://i.ytimg.com/vi/wOtANfkh2bI/maxresdefault.jpg">
    </div>
    <div class="video-modal__media">
      <header class="video-modal__close">
        <span><img src="/assets/images/ic_close.png" width="18"></span>
      </header>
      <div id="yt-player"></div>
    </div>
  </div>
</section>

<section class="section contribute">
  <div class="section__wrapper">
    <h2 class="section__headline">{{ doc.contribute.headline }}</h2>
    <div class="section__summary">
      {{ doc.contribute.summary | safe }}
    </div>
    <a class="button button--contribute contribute__cta" href="https://docs.fastlane.tools/">Get started with fastlane</a>
  </div>
</section>
