name: CI
on:
  pull_request:
    branches:
      - master
  push:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Grow
        uses: ./.github/actions/setup_grow

      - name: Build website
        run: uv run grow build
