name: CI
on:
  pull_request:
    branches:
      - master
  push:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Build website
        run: uv run grow build
